.card {
    position: absolute;
    width: 60vw;
    height: 120vh;
    background-color: #223120;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: drop-shadow(0vh 0vh 5vh rgba(0, 0, 0, 0.2));
    border-radius: 3rem;
    border-style: solid;
    border-color: #202e1e;
    border-width: 0.7vh;
}

.subtitle {
    position: absolute;
    color: white;
    font-size: 6vh;
    font-weight: 800;
    letter-spacing: 0.1vw;
    left: 4vw;
}

.paragraph {
    position: absolute;
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
    letter-spacing: 0.1vw;
    left: 4vw;
    z-index: 10;
    width: 52vw;
}

#about {
    top: 4vh;
}

#about-p {
    top: 12vh;
}

#ichi {
    top: 10vh;
}

.icon1 {
    position: absolute;
    font-size: 5vh;
    left: 18.65vw;
    top: 19.2vh;
    z-index: 10;
}

#ni {
    top: 145vh;
}

#staff {
    top: 4vh;
}

.icon2 {
    position: absolute;
    font-size: 5vh;
    left: 18.4vw;
    top: 154.5vh;
    z-index: 10;
}