#blob {
    position: fixed;
    background-color: white;
    height: 4vh;
    width: 4vh;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    pointer-events: none;
    border-radius: 30vh;
    z-index: 9999;
    mix-blend-mode: difference;
}